.bannerContainer {
    position: relative;
    max-width: 100%;

}



.homeBanner {
    background-image: url("../../house\ in\ the\ forest.webp");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25%;
    width: 90%;
    margin: 0 auto;
    height: 500px;
    background-size: cover;
    position: relative;
}

.bannerBtn {
    border: none;
    background-color: #1d67d66c;
    padding: 10px 35px 10px 35px;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 1.1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.bannerBtn:hover {
    background-color: #1d67d6;
}