.loginContainer{
    background-color: rgba(245, 244, 244, 0.768);
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    margin-top: 80px;
    margin-bottom: 100px;
    border-radius: 20px;
}

.input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    color: #6b7280;
    outline: none;
}

.formBtn {
    border: none;
    color: white;
    background-color: #1D67D6;
    padding: 10px 35px 10px 35px;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 1.1rem;

}

@media screen and (max-width: 950px) {
    .loginContainer {
        width: 80%;
    }
}