html {
  font-family: 'Maven Pro', sans-serif;
}

:root {
  --primary-color: #FF5A5F;
  --primary-hover-color: #b13e42;
}

body {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  text-decoration: none;
  color: var(--primary-color);
  font-size: x-large;
}

.home:hover {
  color: white;
}

header {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  justify-content: space-between;
  border-bottom: 1px lightgrey solid;
}

nav {
  display: flex;
  margin: 0;
  align-items: center;
  z-index: 9;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-color);
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.navbar a:hover {
  color: var(--primary-hover-color);
}

.navbar-collapse {
  background-color: white;
}

.loginBtn {
  border: none;
  color: var(--primary-color);
  background-color: white;
}

.loginBtn:hover {
  color: var(--primary-hover-color);
}

.navbar-toggler {
  position: relative;
  top: -12px;
  left: 10px;
}

footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 2rem;
  margin-top: auto;
}

.footerText {
  color: #ffffff;
  font-size: 1.2rem;
  padding-top: 20px;
}